<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>招商银行</key>
	<string>#F98D8D</string>
	<key>中国建设银行</key>
	<string>#408DC5</string>
	<key>中国银行</key>
	<string>#B74B5B</string>
	<key>交通银行</key>
	<string>#F6F7FB</string>
	<key>中国工商银行</key>
	<string>#E15A6B</string>
	<key>中国农业银行</key>
	<string>#40AD96</string>
</dict>
</plist>
