<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3003</key>
	<string>{
    &quot;userinfo&quot;: {
        &quot;uid&quot;: 1404376560,
        &quot;screenName&quot;: &quot;zaku&quot;,
        &quot;memberId&quot;: &quot;111111&quot;,
        &quot;memberName&quot;: &quot;老K&quot;,
        &quot;agentId&quot;: &quot;54444&quot;,
        &quot;agentName&quot;: &quot;rse股&quot;,
        &quot;avatarLarge&quot;: &quot;http://tp1.sinaimg.cn/1404376560/180/0/1&quot;,
        &quot;balance&quot;: 10123.12
    },
    &quot;token&quot;: &quot;1234512345123&quot;
}</string>
	<key>10012</key>
	<string>{
    &quot;rid&quot;: 10000002,
    &quot;id&quot;: 10001,
    &quot;amount&quot;: 100.1,
    &quot;depositTime&quot;: 1483422506,
    &quot;depositType&quot;: 1,
    &quot;depositName&quot;: &quot;微信&quot;,
    &quot;status&quot;: 1
        }</string>
	<key>1001</key>
	<string>{
    &quot;userinfo&quot;: {
        &quot;uid&quot;: 1404376560,
        &quot;screenName&quot;: &quot;zaku&quot;,
        &quot;memberId&quot;: &quot;111111&quot;,
        &quot;memberName&quot;: &quot;老K&quot;,
        &quot;agentId&quot;: &quot;54444&quot;,
        &quot;agentName&quot;: &quot;rse股&quot;,
        &quot;avatarLarge&quot;: &quot;http://tp1.sinaimg.cn/1404376560/180/0/1&quot;,
        &quot;balance&quot;: 10123.12
    },
    &quot;token&quot;: &quot;1234512345123&quot;
}</string>
	<key>3001</key>
	<string>{&quot;result&quot;:1,&quot;uid&quot;:23}</string>
	<key>3005</key>
	<string></string>
	<key>2000</key>
	<string>{
    &quot;positioninfo&quot;: [
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        },
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        },
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        }
    ]
}</string>
	<key>2001</key>
	<string>{
    &quot;positionId&quot;: 1000001,
    &quot;id&quot;: 1000,
    &quot;code&quot;: &quot;sz10001&quot;,
    &quot;typeCode&quot;: &quot;st1001&quot;,
    &quot;name&quot;: &quot;白银&quot;,
    &quot;buySell&quot;: -1,
    &quot;amount&quot;: 12,
    &quot;openPrice&quot;: 12.1,
    &quot;positionTime&quot;: 1483137783,
    &quot;openCost&quot;: 120,
    &quot;openCharge&quot;: 12.1,
    &quot;closeTime&quot;: 1483137783,
    &quot;closePrice&quot;: 119,
    &quot;grossProfit&quot;: 1.2,
    &quot;limit&quot;: 1,
    &quot;stop&quot;: 1.1,
    &quot;closeType&quot;: 1,
    &quot;isDeferred&quot;: 1,
    &quot;deferred&quot;: 12.1
}</string>
	<key>2002</key>
	<string>{
    &quot;positioninfo&quot;: [
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        },
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        },
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        }
    ]
}
</string>
	<key>2003</key>
	<string>{
    &quot;positionId&quot;: 1000001,
    &quot;id&quot;: 1000,
    &quot;code&quot;: &quot;sz10001&quot;,
    &quot;typeCode&quot;: &quot;st1001&quot;,
    &quot;name&quot;: &quot;白银&quot;,
    &quot;buySell&quot;: -1,
    &quot;amount&quot;: 12,
    &quot;openPrice&quot;: 12.1,
    &quot;positionTime&quot;: 1483137783,
    &quot;openCost&quot;: 120,
    &quot;openCharge&quot;: 12.1,
    &quot;closeTime&quot;: 1483137783,
    &quot;closePrice&quot;: 119,
    &quot;grossProfit&quot;: 1.2,
    &quot;limit&quot;: 1,
    &quot;stop&quot;: 1.1,
    &quot;closeType&quot;: 1,
    &quot;isDeferred&quot;: 1,
    &quot;deferred&quot;: 12.1
}</string>
	<key>5003</key>
	<string>{
    &quot;positionId&quot;: 1000001,
    &quot;id&quot;: 1000,
    &quot;code&quot;: &quot;sz10001&quot;,
    &quot;typeCode&quot;: &quot;st1001&quot;,
    &quot;name&quot;: &quot;白银&quot;,
    &quot;buySell&quot;: -1,
    &quot;amount&quot;: 12,
    &quot;openPrice&quot;: 12.1,
    &quot;positionTime&quot;: 1483137783,
    &quot;openCost&quot;: 120,
    &quot;openCharge&quot;: 12.1,
    &quot;closeTime&quot;: 1483137783,
    &quot;closePrice&quot;: 119,
    &quot;grossProfit&quot;: 1.2,
    &quot;limit&quot;: 1,
    &quot;stop&quot;: 1.1,
    &quot;closeType&quot;: 1,
    &quot;isDeferred&quot;: 1,
    &quot;deferred&quot;: 12.1
}</string>
	<key>2005</key>
	<string>{
    &quot;positionId&quot;: 1000001,
    &quot;id&quot;: 1000,
    &quot;code&quot;: &quot;sz10001&quot;,
    &quot;typeCode&quot;: &quot;st1001&quot;,
    &quot;name&quot;: &quot;白银&quot;,
    &quot;buySell&quot;: -1,
    &quot;amount&quot;: 12,
    &quot;openPrice&quot;: 12.1,
    &quot;positionTime&quot;: 1483137783,
    &quot;openCost&quot;: 120,
    &quot;openCharge&quot;: 12.1,
    &quot;closeTime&quot;: 1483137783,
    &quot;closePrice&quot;: 119,
    &quot;grossProfit&quot;: 1.2,
    &quot;limit&quot;: 1,
    &quot;stop&quot;: 1.1,
    &quot;closeType&quot;: 1,
    &quot;isDeferred&quot;: 1,
    &quot;deferred&quot;: 12.1
}</string>
	<key>2006</key>
	<string>{
    &quot;positionId&quot;: 1000001,
    &quot;id&quot;: 1000,
    &quot;code&quot;: &quot;sz10001&quot;,
    &quot;typeCode&quot;: &quot;st1001&quot;,
    &quot;name&quot;: &quot;白银&quot;,
    &quot;buySell&quot;: -1,
    &quot;amount&quot;: 12,
    &quot;openPrice&quot;: 12.1,
    &quot;positionTime&quot;: 1483137783,
    &quot;openCost&quot;: 120,
    &quot;openCharge&quot;: 12.1,
    &quot;closeTime&quot;: 1483137783,
    &quot;closePrice&quot;: 119,
    &quot;grossProfit&quot;: 1.2,
    &quot;limit&quot;: 1,
    &quot;stop&quot;: 1.1,
    &quot;closeType&quot;: 1,
    &quot;isDeferred&quot;: 1,
    &quot;deferred&quot;: 12.1
}</string>
	<key>10011</key>
	<string>{
    &quot;depositsinfo&quot;: [
        {
            &quot;rid&quot;: 10000002,
            &quot;id&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        },
        {
            &quot;rid&quot;: 10000002,
            &quot;id&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        },
        {
            &quot;rid&quot;: 10000002,
            &quot;id&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        }
    ]
}</string>
	<key>1010</key>
	<string>{
    &quot;cardlist&quot;: [
        {
            &quot;bankId&quot;: 1000001,
            &quot;uid&quot;: 1000,
            &quot;bank&quot;: &quot;中国建设银行&quot;,
            &quot;branchBank&quot;: &quot;上海漕溪路支行&quot;,
            &quot;cardNo&quot;: &quot;6002121231231&quot;,
            &quot;name&quot;: &quot;吴用&quot;
        },
        {
            &quot;bankId&quot;: 1000001,
            &quot;uid&quot;: 1000,
            &quot;bank&quot;: &quot;中国建设银行&quot;,
            &quot;branchBank&quot;: &quot;上海漕溪路支行&quot;,
            &quot;cardNo&quot;: &quot;6002121231231&quot;,
            &quot;name&quot;: &quot;吴用&quot;
        },
        {
            &quot;bankId&quot;: 1000001,
            &quot;uid&quot;: 1000,
            &quot;bank&quot;: &quot;中国建设银行&quot;,
            &quot;branchBank&quot;: &quot;浙江省杭州市保俶路支行&quot;,
            &quot;cardNo&quot;: &quot;6022123231231&quot;,
            &quot;name&quot;: &quot;吴用&quot;
        }
    ]
}</string>
	<key>1009</key>
	<string>{
    &quot;cardlist&quot;: [
        {
            &quot;bid&quot;: 1000001,
            &quot;uid&quot;: 1000,
            &quot;bank&quot;: &quot;中国建设银行&quot;,
            &quot;branchBank&quot;: &quot;上海漕溪路支行&quot;,
            &quot;cardNo&quot;: &quot;6002121231231&quot;,
            &quot;name&quot;: &quot;吴用&quot;
        },
        {
            &quot;bid&quot;: 1000001,
            &quot;uid&quot;: 1000,
            &quot;bank&quot;: &quot;中国建设银行&quot;,
            &quot;branchBank&quot;: &quot;上海漕溪路支行&quot;,
            &quot;cardNo&quot;: &quot;6002121231231&quot;,
            &quot;name&quot;: &quot;吴用&quot;
        },
        {
            &quot;bid&quot;: 1000001,
            &quot;uid&quot;: 1000,
            &quot;bank&quot;: &quot;中国建设银行&quot;,
            &quot;branchBank&quot;: &quot;浙江省杭州市保俶路支行&quot;,
            &quot;cardNo&quot;: &quot;6022123231231&quot;,
            &quot;name&quot;: &quot;吴用&quot;
        }
    ]
}</string>
	<key>1000</key>
	<string></string>
	<key>20000</key>
	<string></string>
	<key>1006</key>
	<string>{
    &quot;id&quot;: 100002，
     &quot;balance&quot;:188.00
     }</string>
	<key>10013</key>
	<string>{
  &quot;withdrawList&quot;: [
  {
    &quot;wid&quot;: 10000002,
    &quot;uid&quot;: 10001,
    &quot;charge&quot;: 1.01,
    &quot;amount&quot;: 100.1,
    &quot;withdrawTime&quot;: 1483422506,
    &quot;handleTime&quot;: 1483422506,
    &quot;bank&quot;: &quot;中国浦发银行&quot;,
    &quot;branchBank&quot;: &quot;漕溪支行&quot;,
    &quot;province&quot;: &quot;上海市&quot;,
    &quot;city&quot;: &quot;上海时&quot;,
    &quot;cardNo&quot;: &quot;6123912312312323&quot;,
    &quot;name&quot;: &quot;吴用&quot;,
    &quot;comment&quot;: &quot;及时提现&quot;,
    &quot;status&quot;: 1
 }]
}</string>
	<key>1003</key>
	<string>{  &quot;balance&quot;:188.00}</string>
	<key>1013</key>
	<string>{
    &quot;uid&quot;: 100002,
    &quot;token&quot;: &quot;adc28ac69625652b46d5c00b&quot;,
   &quot;bid&quot;:111101,
   &quot;vCode&quot;:&quot;3021&quot;
}</string>
	<key>1025</key>
	<string>{
    &quot;withdrawList&quot;: [
        {
            &quot;wid&quot;: 10000002,
            &quot;uid&quot;: 10001,
            &quot;charge&quot;: 1.01,
            &quot;amount&quot;: 100.1,
            &quot;withdrawTime&quot;: &quot;2017-01-07 09:17:00&quot;,
            &quot;handleTime&quot;: &quot;2017-01-10 10:10:00&quot;,
            &quot;bank&quot;: &quot;中国浦发银行&quot;,
            &quot;branchBank&quot;: &quot;上海漕溪支行&quot;,
            &quot;cardNo&quot;: &quot;6123912312312323&quot;,
            &quot;name&quot;: &quot;吴用&quot;,
            &quot;comment&quot;: &quot;及时提现&quot;,
            &quot;status&quot;: 1
        },
        {
            &quot;wid&quot;: 10000002,
            &quot;uid&quot;: 10001,
            &quot;charge&quot;: 1.01,
            &quot;amount&quot;: 100.1,
            &quot;withdrawTime&quot;: &quot;2017-01-07 09:17:00&quot;,
            &quot;handleTime&quot;: &quot;2017-01-10 10:10:00&quot;,
            &quot;bank&quot;: &quot;中国浦发银行&quot;,
            &quot;branchBank&quot;: &quot;上海漕溪支行&quot;,
            &quot;cardNo&quot;: &quot;6123912312312323&quot;,
            &quot;name&quot;: &quot;吴用&quot;,
            &quot;comment&quot;: &quot;及时提现&quot;,
            &quot;status&quot;: 1
        }
    ]
}</string>
	<key>1017</key>
	<string>{
    &quot;bankId&quot;: 10000002,
    &quot;id&quot;: 10001,
    &quot;charge&quot;: 1.01,
    &quot;amount&quot;: 100.1,
    &quot;withdrawTime&quot;: 1483422506,
    &quot;handleTime&quot;: 1483422506,
    &quot;bankName&quot;: &quot;中国浦发银行&quot;,
    &quot;branchBank&quot;: &quot;漕溪支行&quot;,
    &quot;province&quot;: &quot;上海市&quot;,
    &quot;city&quot;: &quot;上海时&quot;,
    &quot;cardNo&quot;: &quot;6123912312312323&quot;,
    &quot;name&quot;: &quot;吴用&quot;,
    &quot;comment&quot;: &quot;及时提现&quot;,
    &quot;status&quot;: 1

    }</string>
	<key>1011</key>
	<string>{
        &quot;bid&quot;: 1000001,
        &quot;uid&quot;: 1000,
        &quot;bank&quot;: &quot;中国建设银行&quot;,
        &quot;branchBank&quot;: &quot;上海漕溪路支行&quot;,
        &quot;cardNo&quot;: &quot;6002121231231&quot;,
        &quot;name&quot;: &quot;吴用&quot;
}</string>
	<key>1019</key>
	<string>{
    &quot;depositsinfo&quot;: [
        {
            &quot;rid&quot;: 10000002,
            &quot;uid&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        },
        {
            &quot;rid&quot;: 10000002,
            &quot;uid&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        },
        {
            &quot;rid&quot;: 10000002,
            &quot;uid&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        }
    ]
}</string>
	<key>2008</key>
	<string>{
    &quot;priceinfo&quot;: [
        {
            &quot;currntPrice&quot;: 100.01,
            &quot;change&quot;: 12.1,
            &quot;openPrice&quot;: 11.2,
            &quot;closePrice&quot;: 13.3,
            &quot;highPrice&quot;: 15.1,
            &quot;lowPrice&quot;: 10.1,
            &quot;priceTime&quot;: 1483137783
        },
        {
            &quot;currntPrice&quot;: 100.01,
            &quot;change&quot;: 12.1,
            &quot;openPrice&quot;: 13.3,
            &quot;closePrice&quot;: 11.2,
            &quot;highPrice&quot;: 14.1,
            &quot;lowPrice&quot;: 10.1,
            &quot;priceTime&quot;: 1483137783
        }
    ]
}</string>
	<key>1023</key>
	<string>{
    &quot;wid&quot;: 10000002,
    &quot;uid&quot;: 10001,
    &quot;charge&quot;: 1.01,
    &quot;amount&quot;: 100.1,
    &quot;withdrawTime&quot;: 1483422506,
    &quot;handleTime&quot;: 1483422506,
    &quot;bank&quot;: &quot;中国浦发银行&quot;,
    &quot;branchBank&quot;: &quot;漕溪支行&quot;,
    &quot;province&quot;: &quot;上海市&quot;,
    &quot;city&quot;: &quot;上海时&quot;,
    &quot;cardNo&quot;: &quot;6123912312312323&quot;,
    &quot;name&quot;: &quot;吴用&quot;,
    &quot;comment&quot;: &quot;及时提现&quot;,
    &quot;status&quot;: 1
}</string>
	<key>1024</key>
	<string>{
    &quot;wid&quot;: 10000002,
    &quot;uid&quot;: 10001,
    &quot;charge&quot;: 1.01,
    &quot;amount&quot;: 100.1,
    &quot;withdrawTime&quot;: 1483422506,
    &quot;handleTime&quot;: 1483422506,
    &quot;bank&quot;: &quot;中国浦发银行&quot;,
    &quot;branchBank&quot;: &quot;漕溪支行&quot;,
    &quot;province&quot;: &quot;上海市&quot;,
    &quot;city&quot;: &quot;上海时&quot;,
    &quot;cardNo&quot;: &quot;6123912312312323&quot;,
    &quot;name&quot;: &quot;吴用&quot;,
    &quot;comment&quot;: &quot;及时提现&quot;,
    &quot;status&quot;: 1
}
</string>
	<key>4003</key>
	<string>{
    &quot;priceinfo&quot;: [
        {
            &quot;currntPrice&quot;: 100.01,
            &quot;change&quot;: 12.1,
            &quot;openPrice&quot;: 1.12,
            &quot;closePrice&quot;: 1.33,
            &quot;highPrice&quot;: 1.11,
            &quot;lowPrice&quot;: 1.01,
            &quot;priceTime&quot;: 1483137783
        },
        {
            &quot;currntPrice&quot;: 100.01,
            &quot;upDown&quot;: 12.1,
            &quot;open&quot;: 1.12,
            &quot;close&quot;: 1.33,
            &quot;high&quot;: 1.11,
            &quot;low&quot;: 1.01,
            &quot;priceTime&quot;: 1483137783
        }
    ]
}</string>
	<key>5001</key>
	<string>{
    &quot;goodsinfo&quot;: [
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;unit&quot;: &quot;0.1kg白银&quot;,
            &quot;weight&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        },
        {
            &quot;id&quot;:101,
            &quot;exchangeName&quot;: &quot;TJPME&quot;,
            &quot;platformName&quot;: &quot;JH&quot;,
            &quot;symbol&quot;: &quot;AG&quot;,
            &quot;code&quot;: &quot;AG100G&quot;,
            &quot;name&quot;: &quot;0.1kg白银&quot;,
            &quot;unit&quot;: &quot;0.1kg&quot;,
            &quot;amountPerLot&quot;: 3,
            &quot;profitPerUnit&quot;: 1.01,
            &quot;depositFee&quot;: 14.1,
            &quot;openChargeFee&quot;: 13.1,
            &quot;CloseChargeFee&quot;: 9.1,
            &quot;deferredFee&quot;: 1.1,
            &quot;maxLot&quot;: 100,
            &quot;minLot&quot;: 1,
            &quot;Status&quot;: 1,
            &quot;sort&quot;: 1
        }
    ]
}
</string>
	<key>4001</key>
	<string>{
&quot;priceinfo&quot;: [
    {
        &quot;goodType&quot;: &quot;AG&quot;,
        &quot;exchange_name&quot;: &quot;TJPME&quot;,
        &quot;platform_name&quot;: &quot;JH&quot;,
        &quot;currntPrice&quot;: 100.01,
        &quot;change&quot;: 12.1,
        &quot;openPrice&quot;: 1.12,
        &quot;closePrice&quot;: 1.33,
        &quot;highPrice&quot;: 1.11,
        &quot;lowPrice&quot;: 1.01,
        &quot;priceTime&quot;: 1483137783
    },
    {
        &quot;goodType&quot;: &quot;CO&quot;,
        &quot;exchange_name&quot;: &quot;TJPME&quot;,
        &quot;platform_name&quot;: &quot;JH&quot;,
        &quot;currntPrice&quot;: 100.01,
        &quot;upDown&quot;: 12.1,
        &quot;open&quot;: 1.12,
        &quot;close&quot;: 1.33,
        &quot;high&quot;: 1.11,
        &quot;low&quot;: 1.01,
        &quot;priceTime&quot;: 1483137783
    }
]
}</string>
	<key>1029</key>
	<string></string>
	<key>1077</key>
	<string>{
    &quot;orders&quot;: [
        {
            &quot;flowId&quot;: 100001,
            &quot;flowType&quot;: 1,
            &quot;flowName&quot;: &quot;建仓&quot;,
            &quot;inOut&quot;: 1,
            &quot;amount&quot;: 10000,
            &quot;balance&quot;: 100000,
            &quot;flowTime&quot;: 1482939609,
            &quot;comment&quot;: &quot;备注&quot;
        },
        {
            &quot;flowId&quot;: 100001,
            &quot;flowType&quot;: 1,
            &quot;flowName&quot;: &quot;建仓&quot;,
            &quot;inOut&quot;: 1,
            &quot;amount&quot;: 10000,
            &quot;balance&quot;: 100000,
            &quot;flowTime&quot;: 1482939609,
            &quot;comment&quot;: &quot;备注&quot;
        },
        {
            &quot;flowId&quot;: 100001,
            &quot;flowType&quot;: 1,
            &quot;flowName&quot;: &quot;建仓&quot;,
            &quot;inOut&quot;: 1,
            &quot;amount&quot;: 10000,
            &quot;balance&quot;: 100000,
            &quot;flowTime&quot;: 1482939609,
            &quot;comment&quot;: &quot;备注&quot;
        },
        {
            &quot;flowId&quot;: 100001,
            &quot;flowType&quot;: 1,
            &quot;flowName&quot;: &quot;建仓&quot;,
            &quot;inOut&quot;: 1,
            &quot;amount&quot;: 10000,
            &quot;balance&quot;: 100000,
            &quot;flowTime&quot;: 1482939609,
            &quot;comment&quot;: &quot;备注&quot;
        },
        {
            &quot;flowId&quot;: 100001,
            &quot;flowType&quot;: 1,
            &quot;flowName&quot;: &quot;建仓&quot;,
            &quot;inOut&quot;: 1,
            &quot;amount&quot;: 10000,
            &quot;balance&quot;: 100000,
            &quot;flowTime&quot;: 1482939609,
            &quot;comment&quot;: &quot;备注&quot;
        }
    ]
}</string>
	<key>1031</key>
	<string></string>
	<key>0</key>
	<string>{&quot;1000&quot;:&quot;测试1&quot; , &quot;1001&quot;:&quot;测试2&quot;}</string>
	<key>6001</key>
	<string>{
    &quot;positioninfo&quot;: [
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        },
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        },
        {
            &quot;positionId&quot;: 1000001,
            &quot;id&quot;: 1000,
            &quot;code&quot;: &quot;sz10001&quot;,
            &quot;typeCode&quot;: &quot;st1001&quot;,
            &quot;name&quot;: &quot;白银&quot;,
            &quot;buySell&quot;: -1,
            &quot;amount&quot;: 12,
            &quot;openPrice&quot;: 12.1,
            &quot;positionTime&quot;: 1483137783,
            &quot;openCost&quot;: 120,
            &quot;openCharge&quot;: 12.1,
            &quot;closeTime&quot;: 1483137783,
            &quot;closePrice&quot;: 119,
            &quot;grossProfit&quot;: 1.2,
            &quot;limit&quot;: 1,
            &quot;stop&quot;: 1.1,
            &quot;closeType&quot;: 1,
            &quot;isDeferred&quot;: 1,
            &quot;deferred&quot;: 12.1
        }
    ]
}
</string>
	<key>6007</key>
	<string>{
    &quot;positionId&quot;: 1000001,
    &quot;id&quot;: 1000,
    &quot;code&quot;: &quot;sz10001&quot;,
    &quot;typeCode&quot;: &quot;st1001&quot;,
    &quot;name&quot;: &quot;白银&quot;,
    &quot;buySell&quot;: -1,
    &quot;amount&quot;: 12,
    &quot;openPrice&quot;: 12.1,
    &quot;positionTime&quot;: 1483137783,
    &quot;openCost&quot;: 120,
    &quot;openCharge&quot;: 12.1,
    &quot;closeTime&quot;: 1483137783,
    &quot;closePrice&quot;: 119,
    &quot;grossProfit&quot;: 1.2,
    &quot;limit&quot;: 1,
    &quot;stop&quot;: 1.1,
    &quot;closeType&quot;: 1,
    &quot;isDeferred&quot;: 1,
    &quot;deferred&quot;: 12.1
}</string>
</dict>
</plist>
