<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-11011</key>
	<string>timeout</string>
    <key>-100</key>
    <string>格式有误</string>
    <key>-101</key>
    <string>二次提交</string>
    <key>-102</key>
    <string>手机号码不能为空</string>
    <key>-103</key>
    <string>不是有效手机号</string>
    <key>-104</key>
    <string>手机号码已被注册</string>
    <key>-105</key>
    <string>会员ID不能为空</string>
    <key>-106</key>
    <string>会员ID不能为空</string>
    <key>-107</key>
    <string>解密异常</string>
    <key>-108</key>
    <string>推荐用户账户有误</string>

</dict>
</plist>
