<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<dict>
		<key>token</key>
		<string>1234512345123</string>
		<key>userInfo</key>
		<dict>
			<key>id</key>
			<integer>1404376560</integer>
			<key>screenName</key>
			<string>木头</string>
			<key>memberId</key>
			<string>000000</string>
			<key>memberName</key>
			<string>贾诩</string>
			<key>agentId</key>
			<string>0000</string>
			<key>agentName</key>
			<string>0股</string>
			<key>avatarLarge</key>
			<string>http://ofr5nvpm7.bkt.clouddn.com/meishi1482292847.33986.png</string>
			<key>balance</key>
			<integer>10000</integer>
		</dict>
	</dict>
</dict>
</plist>
