<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<string>{
    &quot;userinfo&quot;: {
        &quot;id&quot;: 1404376560,
        &quot;screenName&quot;: &quot;zaku&quot;,
        &quot;memberId&quot;: &quot;111111&quot;,
        &quot;memberName&quot;: &quot;老K&quot;,
        &quot;agentId&quot;: &quot;54444&quot;,
        &quot;agentName&quot;: &quot;rse股&quot;,
        &quot;avatarLarge&quot;: &quot;http://tp1.sinaimg.cn/1404376560/180/0/1&quot;,
        &quot;balance&quot;: 10123.12
    },
    &quot;token&quot;: &quot;1234512345123&quot;
}</string>
	<key>10011</key>
	<string>{
    &quot;depositsinfo&quot;: [
        {
            &quot;rid&quot;: 10000002,
            &quot;id&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        },
        {
            &quot;rid&quot;: 10000002,
            &quot;id&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        },
        {
            &quot;rid&quot;: 10000002,
            &quot;id&quot;: 10001,
            &quot;amount&quot;: 100.1,
            &quot;depositTime&quot;: 1483422506,
            &quot;depositType&quot;: 1,
            &quot;depositName&quot;: &quot;微信&quot;,
            &quot;status&quot;: 1
        }
    ]
}</string>
</dict>
</plist>
